.myModal {
    position: fixed;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    display: none;
    background: rgba(245, 243, 243, 0.85);
}

.myModalContent {
    padding: 25px;
    background: rgb(57, 56, 56);
    border-radius: 16px;
    min-width: 350px;
}

.myModal.active {
    display: flex;
    justify-content: center;
    align-items: center;
}